/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE

#demo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

END DEMO */
/* 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
} */
