@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#postContainer {
  display: flex;
  flex-direction: row;
}

.postAvatar {
  width: 35px;
  height: 35px;
  margin: 25px 5px 0px 15px;
  border-radius: 2px;
}
#postBox {
  min-height: 50px;
  color: white;
  background-color: #0a0a4d;
  width: 55vw;
  border: none;
  margin: 25px;
  margin: 25px 15px 15px 15px;
  text-align: top;
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
}

#commentContainer {
  color: white;
  font-family: 'Raleway', sans-serif;
}

#commentsFormContainer {
  margin-left: 65px;
  font-family: 'Raleway', sans-serif;
}
