@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#collabContainer1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: #000036;
  width: 100vw;
  padding-top: 1rem;
}
#collabHeader {
  margin-top: 50px;
  width: 100vw;
  height: 400px;

  /* background-color: red; */
}
#collabInfo {
  width: 25vw;
  margin-top: 3vw;
  /* height: 350px; */
  /* background-color: magenta; */
}
#collabComments {
  margin-top: 3vw;
  width: 65vw;
  /* height: 350px; */
  /* background-color: teal; */
}
#collabContainer2 {
  display: flex;
  align-items: top;
}
