@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.infoBox {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  padding: 2rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  /* border-radius: 4px; */
}
.iBoxHeader {
  width: 90%;
  height: 2rem;
}
.iBoxContent {
  width: 90%;
  height: 12rem;
}
