@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.infoBox {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  padding: 2rem;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  /* border-radius: 4px; */
}
.iBoxHeader {
  width: 90%;
  height: 2rem;
  color: white;
}

.iBoxContentContainer {
  width: 90%;
  height: 12rem;
}
.iBoxContent {
  width: 90%;
  height: 2rem;
  font-family: 'Raleway', sans-serif;
}
