.loginContainer {
  min-height: 692px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #00758f 0%, #3f008f 100%);
  /* background: linear-gradient(
    108deg,
    rgba(1, 147, 86, 1) 0%,
    rgba(10, 201, 122, 1) 100%,
  ); */
}

.FormWrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* @media screen and (max-width: 400px) {
      height: 80%;
  } */
}

.logo {
  margin-left: 32px;
  margin-top: 32px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;

  /* @media screen and (max-width: 480px) {
      margin-left: 16px;
      margin-top: 8px;
  } */
}

.FormContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* @media screen and (max-width: 480px) {
      padding: 10px;
  } */
}

.Form {
  background: #0f3460;
  max-width: 400px;
  height: auto;
  width: 100%;
  z-index: 1;
  display: grid;
  margin: 0 auto;
  padding: 80px 32px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);

  /* @media screen and (max-width: 400px) {
      padding: 32px 32px;
  } */
}

.FormH1 {
  margin-bottom: 40px;
  color: #fff;
  font-size: 5vh;
  font-weight: 400;
  text-align: center;
}

.FormLabel {
  margin-bottom: 8px;
  font-size: 14px;
  color: #fff;
}

.FormInput {
  padding: 16px 16px;
  margin-bottom: 32px;
  border: none;
  border-radius: 4px;
}

.FormButton {
  background: linear-gradient(180deg, #b321cf 0%, rgba(33, 71, 207, 0.79) 100%);
  padding: 16px 0;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.Text {
  text-align: center;
  margin-top: 24px;
  color: #fff;
  font-size: 14px;
}
