.editprofile {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #025061 0%, #3f008f 100%);
  padding: 9vh 0vh 9vh 0vh;
}

.leftside {
  float: left;
  width: 30%;
  height: 70vh;
  background: white;
  text-align: center;
}

.be6sR {
  border-radius: 50%;
  margin: 10vh 10vh 5vh 10vh;
  width: 200px;
}

button[type='submit'] {
  margin: 3vh 0vh 0vh 0vh;
  width: 16vh;
  border: none;
  color: white;
  padding: 0.5vh;
  border-radius: 5px;
  padding: 0.6vh;
}

button[type='file'] {
  margin: 0vh 0vh 0vh 0vh;
  width: 16vh;
  border: none;
  color: white;
  padding: 0.5vh;
  border-radius: 5px;
  padding: 0.6vh;
}

.Resetbtn {
  background: rgb(37, 184, 221);
}

.Deletebtn {
  background: rgb(110, 17, 17);
}

.rightside {
  float: right;
  width: 50%;
  height: 70vh;
  background: white;
  text-align: left;
  overflow-y: scroll;
}

.topdiv {
  display: flex;
  direction: row;
}

.topbtns {
  height: 4vh;
  width: 8vh;
  margin: 6vh 2vh 0vh 0vh;
  color: white;
  background: rgb(37, 184, 221);
  border: none;
  border-radius: 5px;
}

.topbtnc {
  height: 4vh;
  width: 8vh;
  margin: 6vh 0vh 0vh 0vh;
  color: rgb(37, 184, 221);
  background: white;
  border: 2px solid rgb(37, 184, 221);
  border-radius: 5px;
}

.basicinfo {
  margin: 5vh 0vh 0vh 15vh;
  width: 40vh;
  color: rgb(69, 69, 151);
  text-decoration: underline;
}

.myfname {
  width: 40%;
  margin: 5vh 0vh 0vh 15vh;
}

ul {
  list-style-type: none;
}

.plist {
  margin: 1vh 0vh 1vh 0vh;
}

input[type='text'] {
  margin: 1vh 0vh 0vh 15vh;
  width: 70vh;
  padding: 0.7vh;
  border-radius: 6px;
}

textarea[type='text'] {
  margin: 1vh 0vh 0vh 15vh;
  width: 70vh;
  padding: 0.7vh;
  border-radius: 6px;
}

input[type='URL'] {
  margin: 1vh 0vh 0vh 0vh;
  width: 70vh;
  padding: 0.7vh;
  border-radius: 6px;
}

label {
  color: rgb(69, 69, 151);
  font-weight: bolder;
}

.ruly {
  border-left: 2px solid rgb(226, 224, 233);
}

.lower {
  margin-left: 45vh;
  padding-bottom: 3vh;
}
