@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Audiowide&family=Roboto&display=swap');

.profileGreyBar {
  width: 100vw;
  height: 205px;
  background-color: #575757;
}

#profilecontainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  width: 37%;
}
#profilecircle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url('https://i.pinimg.com/474x/a6/2f/ff/a62fff451fee32c067bf1b9118fbb18e.jpg');
  background-size: cover;
  background-color: teal;
  margin-top: -190px;
}

#profilename {
  color: #575757;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.profileButtons {
  display: flex;
  justify-content: center;
  /* width: 25vw; */
}

.profileButton {
  color: whitesmoke;
  background-color: #575757;
  padding: 0px 30px;
  border-radius: 3px;
  border: none;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0px 10px;
  height: 62px;
  width: 160px;
}

#profilebio {
  color: #575757;
  font-family: 'Roboto', sans-serif;
  padding: 5px 35px 15px 35px;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}

.profileicons {
  width: 50px;
  height: 50px;
  margin: 0px 25px;
}
