.main {
  height: 170vh;
  text-align: center;
  background: linear-gradient(180deg, #025061 0%, #3f008f 100%);
  padding-top: 50px;
}

.banner {
  position: relative;
  width: 80%;
  max-width: 1280px;
  margin: 0vh auto 0vh;
  height: 40vh;
  background: #0f3460;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid white;
}

.textarea {
  width: 80%;
  max-width: 1280px;
  margin: 0vh auto 0vh;
  height: 110vh;
  background: rgb(230, 230, 230);
  padding-top: 3vh;
}

.photo {
  width: 20%;
  height: 93%;
  margin: 12vh 0vh 0vh 18vh;
}

.profilephoto {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.bio {
  width: 40%;
  height: 90%;
  margin: 0vh 0vh 0vh 10vh;
  background: white;
  border-radius: 10px;
}

.musicarea {
  width: 40%;
  height: 50vh;
  margin: 1vh 0vh 0vh 90vh;
  border: 2px solid black;
  color: white;
  background: rgb(5, 5, 63);
}

.songs {
  margin: 4vh 0vh 1vh 0vh;
}

.theprojects {
  margin: 4vh 0vh 1vh 0vh;
}

.comments {
  border: 2px solid black;
  width: 40%;
  height: 70vh;
  margin: 0vh 0vh 0vh 90vh;
  overflow-y: scroll;
  background: white;
}

.profilecomments {
  border: 2px solid black;
  width: 100%;
  overflow-y: scroll;
  background: white;
  text-align: center;
}

.infoarea {
  width: 60%;
  height: 75%;
  float: right;
  margin: 10vh 0vh 0vh 0vh;
  background: rgb(5, 5, 63);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.userInfo {
  float: left;
  margin: 5vh 0vh 0vh 5vh;
  color: white;
  font-size: 30px;
}

.social {
  width: 20%;
  font-size: 25px;
  margin: 12vh 0vh 0vh 2vh;
  color: white;
}

.myprojects {
  border: 2px solid black;
  width: 40%;
  height: 90%;
  margin: 4vh 0vh 0vh 10vh;
  background: rgb(5, 5, 63);
  color: white;
}

.player {
  width: 425px;
  height: 195px;
}

.submitcomment {
  height: 4vh;
  width: 8vh;
  margin: 6vh 0vh 0vh 0vh;
  color: white;
  background: rgb(37, 184, 221);
  border: 2px solid rgb(37, 184, 221);
  border-radius: 5px;
}
