.main {
  border: 2px solid red;
  height: 150vh;
  text-align: center;
}

.second {
  border: 2px solid red;
  height: 40vh;
  width: 80%;
  margin: 8vh auto 0vh;
}

.written {
  border: 2px solid red;
  width: 80%;
  height: 85vh;
  margin: auto;
}

.photo {
  border: 2px solid blue;
  width: 25%;
  height: 50vh;
  margin: 12vh 0vh 0vh 10vh;
}

.bio {
  border: 2px solid blue;
  width: 25%;
  height: 50vh;
  margin: 0vh 0vh 0vh 10vh;
}
