#postContainer {
  display: flex;
  flex-direction: column;
}

#commentContainer {
  display: flex;
  align-items: top;
  background-color: #0a0a4d;
}

#comment {
  width: 55vw;
  height: 35px;
  border-radius: 2px;
  border: none;
  margin: 15px;
  text-align: top;
}

.commentAvatar {
  width: 35px;
  height: 35px;
  margin: 15px 5px 0px 15px;
  border-radius: 2px;
}

.submitButton {
  border-radius: 2px;
  border: none;
  float: right;
  margin: 0px 15px 5px 0px;
}
