/* * {
  background-color: darkblue;
} */

/* Moved color to container instead of universal as it was affecting other components */

/* .container {
  background-color: darkblue;
  width: 50vh;
  height: 60vh;
  margin: 10% auto;
  background: white;
  border-radius: 5px;
  position: relative;
  text-align: center;
} */
